<div class="container">
  <div class="paint">
    <div class="sky">
      <div class="sky1"></div>
      <div class="sky2"></div>
    </div>
    <div class="sea">
      <div class="sea1"></div>
      <div class="sea2"></div>
      <div class="sea3"></div>
    </div>
    <div class="floor">
      <div class="floor1"></div>
      <div class="floor2"></div>
      <div class="floor3"></div>
      <div class="floor4"></div>
      <div class="floor-line1"></div>
      <div class="floor-line2"></div>
      <div class="floor-line3"></div>
      <div class="floor-line4"></div>
      <div class="floor-line5"></div>
      <div class="floor-line6"></div>
      <div class="floor-line7"></div>
      <div class="floor-line8"></div>
      <div class="floor-line9"></div>
    </div>
    <div class="bicycle">
      <div class="wheels">
        <div class="rear wheel">
          <div class="rear-rim-1"></div>
          <div class="rear-rim-2"></div>
          <div class="rear-rim-3"></div>
          <div class="rear-rim-4"></div>
          <div class="rear-rim-5"></div>
          <div class="rear-rim-6"></div>
          <div class="rear-tyre-border-top"></div>
          <div class="rear-tyre-border-right"></div>
          <div class="rear-tyre-border-bottom"></div>
          <div class="rear-tyre-border-left-top"></div>
          <div class="rear-tyre-border-left-bottom"></div>
        </div>
        <div class="front-wheel">
          <div class="front-rim-1"></div>
          <div class="front-rim-2"></div>
          <div class="front-tyre-border-top-right"></div>
          <div class="front-tyre-border-right"></div>
          <div class="front-tyre-border-bottom"></div>
          <div class="front-tyre-border-left"></div>
          <div class="front-tyre-border-top-left"></div>
        </div>
      </div>
      <div class="frame">
        <div class="fork"></div>
        <div class="handlebar-left"></div>
        <div class="handlebar-right"></div>
        <div class="top-tube"></div>
        <div class="down-tube"></div>
        <div class="seat-tube"></div>
        <div class="seat-stays-front"></div>
        <div class="seat-stays-back"></div>
        <div class="chain-stays"></div>
      </div>
      <div class="saddle"></div>
      <div class="front-hub"></div>
      <div class="mirrors">
        <div class="mirror-right"></div>
        <div class="mirror-left"></div>
      </div>
      <div class="sprocket">
        <div class="sprocket-trapeze"></div>
        <div class="sprocket-triangle"></div>
      </div>
      <div class="chainRing">
        <div class="chainRing-trapeze-left"></div>
        <div class="chainRing-trapeze-right"></div>
      </div>
      <div class="chain">
        <div class="chain-top"></div>
        <div class="chain-bottom"></div>
      </div>
    </div>
    <div class="wall">
      <div class="wall-border"></div>
    </div>
  </div>
</div>
<div class="title">
  <h2>BICICLETA CUBISTA</h2>
  <p>Dibujo realizado en CSS a partir de la obra original de Miguel Esquivel Kuello</p>
</div>
