<div class="container">
  <div class="cielo">
      <div class="cielo1"></div>
      <div class="cielo2"></div>
  </div>
  <div class="mar">
      <div class="mar1"></div>
      <div class="mar2"></div>
      <div class="mar3"></div>
  </div>
  <div class="piso">
      <div class="piso1"></div>
      <div class="piso2"></div>
      <div class="piso3"></div>
      <div class="piso4"></div>
      <div class="piso-linea1"></div>
      <div class="piso-linea2"></div>
      <div class="piso-linea3"></div>
      <div class="piso-linea4"></div>
      <div class="piso-linea5"></div>
      <div class="piso-linea6"></div>
      <div class="piso-linea7"></div>
      <div class="piso-linea8"></div>
      <div class="piso-linea9"></div>
  </div>
  <div class="bicicleta">
      <div class="ruedas">
          <div class="rueda trasera">
              <div class="rueda-trasera1"></div>
              <div class="rueda-trasera2"></div>
              <div class="rueda-trasera3"></div>
              <div class="rueda-trasera4"></div>
              <div class="rueda-trasera5"></div>
              <div class="rueda-trasera6"></div>
              <div class="rueda-trasera-borde-superior"></div>
              <div class="rueda-trasera-borde-derecho"></div>
              <div class="rueda-trasera-borde-inferior"></div>
              <div class="rueda-trasera-borde-izquierdo-superior"></div>
              <div class="rueda-trasera-borde-izquierdo-inferior"></div>
          </div>
          <div class="rueda delantera">
              <div class="rueda-delantera1"></div>
              <div class="rueda-delantera2"></div>
              <div class="rueda-delatera-borde-superior-derecho"></div>
              <div class="rueda-delatera-borde-derecho"></div>
              <div class="rueda-delatera-borde-inferior"></div>
              <div class="rueda-delatera-borde-izquierdo"></div>
              <div class="rueda-delatera-borde-superior-izquierdo"></div>
          </div>
      </div>
      <div class="cuadro">
          <div class="horquilla"></div>
          <div class="manubrio-izquierdo"></div>
          <div class="manubrio-derecho"></div>
          <div class="tubo-superior"></div>
          <div class="tubo-inferior"></div>
          <div class="tubo-asiento"></div>
          <div class="vaina-superior-frente"></div>
          <div class="vaina-superior-dorso"></div>
          <div class="vaina-inferior"></div>
      </div>
      <div class="asiento"></div>
      <div class="buje-delantero"></div>
      <div class="espejos">
          <div class="espejo-derecho"></div>
          <div class="espejo-izquierdo"></div>
      </div>
      <div class="pinon">
          <div class="pinon-trapecio"></div>
          <div class="pinon-triangulo"></div>
      </div>
      <div class="corona">
          <div class="corona-trapecio-izquierdo"></div>
          <div class="corona-trapecio-derecho"></div>
      </div>
      <div class="cadena">
          <div class="cadena-superior"></div>
          <div class="cadena-inferior"></div>
      </div>
  </div>
  <div class="pared">
      <div class="pared-borde"></div>
      <div class="punto1"></div>
  </div>
</div>
<div class="title">
  <h2>BICICLETA CUBISTA</h2>
  <p>Dibujo realizado en CSS a partir de la obra original de Miguel Esquivel Kuello</p>
</div>
