.paint {
  --sky-color: #69deff;
  --sea-color: #3358c2;
  --floor-color: #a6f0fb;
  --floor-line-color: #023d5b;
  --bicycle-rim-color: #3358c2;
  --bicycle-tyre-color: black;
  --bicycle-frame-color: black;
}

.container {
  width: 600px;
  height: 367px;
  background-color: #22c2fe;
  margin: 30px auto;
  position: relative;
  overflow: hidden; /* propiedad para que cada div dentro no salga de este div */
}

/* sky */
.sky1 {
  position: absolute;
  background-color: var(--sky-color);
  width: 100px;
  height: 108px;
  left: 500px;
}
.sky2 {
  position: absolute;
  width: 0;
  height: 0;
  border-right: 108px solid var(--sky-color);
  border-top: 37px solid transparent;
  border-bottom: 37px solid transparent;
  transform: rotate(90deg);
  left: 446px;
  top: 18px;
}

/* sea */
.sea1 {
  position: absolute;
  background-color: var(--sea-color);
  width: 137px;
  height: 97px;
  left: 463px;
  top: 109px;
}
.sea2 {
  position: absolute;
  width: 0;
  height: 0;
  border-right: 96px solid var(--sea-color);
  border-bottom: 33px solid transparent;
  transform: rotate(90deg);
  left: 399px;
  top: 141px;
}
.sea3 {
  position: absolute;
  width: 0;
  height: 0;
  border-right: 117px solid var(--sea-color);
  border-top: 174px solid transparent;
  transform: rotate(-90deg);
  left: 458px;
  top: 176px;
}

/* floor */
.floor1 {
  position: absolute;
  background-color: var(--floor-color);
  width: 540px;
  height: 48px;
  left: 60px;
  top: 319px;
}
.floor2 {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 113px solid var(--floor-color);
  border-left: 370px solid transparent;
  border-right: 169px solid transparent;
  top: 206px;
  left: 60px;
}
.floor3 {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 18px solid var(--floor-color);
  border-left: 60px solid transparent;
  top: 319px;
}
.floor4 {
  position: absolute;
  background-color: var(--floor-color);
  width: 60px;
  height: 30px;
  top: 337px;
}
.floor-line1 {
  position: absolute;
  background-color: var(--floor-line-color);
  height: 2px;
  width: 205px;
  transform: rotate(34deg);
  top: 262px;
  left: 413px;
}
.floor-line2 {
  position: absolute;
  background-color: var(--floor-line-color);
  height: 2px;
  width: 451px;
  transform: rotate(-17deg);
  top: 271px;
  left: -10px;
}
.floor-line3 {
  position: absolute;
  background-color: var(--floor-line-color);
  height: 2px;
  width: 56px;
  transform: rotate(90deg);
  top: 338px;
  left: 559px;
}
.floor-line4 {
  position: absolute;
  background-color: var(--floor-line-color);
  height: 2px;
  width: 80px;
  transform: rotate(100deg);
  top: 327px;
  left: 508px;
}
.floor-line5 {
  position: absolute;
  background-color: var(--floor-line-color);
  height: 2px;
  width: 103px;
  transform: rotate(110deg);
  top: 318px;
  left: 459px;
}
.floor-line6 {
  position: absolute;
  background-color: var(--floor-line-color);
  height: 2px;
  width: 131px;
  transform: rotate(120deg);
  top: 309px;
  left: 405px;
}
.floor-line7 {
  position: absolute;
  background-color: var(--floor-line-color);
  height: 2px;
  width: 175px;
  transform: rotate(133deg);
  top: 302px;
  left: 334px;
}
.floor-line8 {
  position: absolute;
  background-color: var(--floor-line-color);
  height: 2px;
  width: 245px;
  transform: rotate(145deg);
  top: 296px;
  left: 240px;
}
.floor-line9 {
  position: absolute;
  background-color: var(--floor-line-color);
  height: 2px;
  width: 358px;
  transform: rotate(155deg);
  top: 291px;
  left: 105px;
}

/* bicycle */
/* rim */
/* rear rim */
.rear-rim-1 {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 151px solid var(--bicycle-rim-color);
  border-left: 26px solid transparent;
  border-right: 84px solid transparent;
  top: 143px;
  left: 279px;
  transform: rotate(4deg);
}
.rear-rim-2 {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 122px solid var(--bicycle-rim-color);
  border-left: 9px solid transparent;
  border-right: 57px solid transparent;
  top: 142px;
  left: 328px;
  transform: rotate(188deg);
}
.rear-rim-3 {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 30px solid var(--bicycle-rim-color);
  border-right: 56px solid transparent;
  top: 246px;
  left: 325px;
  transform: rotate(-17deg);
}
.rear-rim-4 {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 35px solid var(--bicycle-rim-color);
  border-left: 38px solid transparent;
  top: 252px;
  left: 293px;
  transform: rotate(-16deg);
}
.rear-rim-5 {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 85px solid var(--bicycle-rim-color);
  border-left: 56px solid transparent;
  top: 210px;
  left: 241px;
  transform: rotate(-5deg);
}
.rear-rim-6 {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 69px solid var(--bicycle-rim-color);
  border-left: 55px solid transparent;
  top: 142px;
  left: 234px;
  transform: rotate(-6deg);
}
/* rear tyre */
.rear-tyre-border-top {
  position: absolute;
  background-color: var(--bicycle-tyre-color);
  height: 4px;
  width: 111px;
  top: 141px;
  left: 284px;
  transform: rotate(4deg);
}
.rear-tyre-border-right {
  position: absolute;
  background-color: var(--bicycle-tyre-color);
  height: 4px;
  width: 121px;
  top: 203px;
  left: 329px;
  transform: rotate(94deg);
}
.rear-tyre-border-bottom {
  position: absolute;
  background-color: var(--bicycle-tyre-color);
  height: 4px;
  width: 91px;
  top: 277px;
  left: 298px;
  transform: rotate(-17deg);
}
.rear-tyre-border-left-top {
  position: absolute;
  background-color: var(--bicycle-tyre-color);
  height: 4px;
  width: 89px;
  top: 175px;
  left: 217px;
  transform: rotate(122deg);
}
.rear-tyre-border-left-bottom {
  position: absolute;
  background-color: var(--bicycle-tyre-color);
  height: 4px;
  width: 103px;
  top: 251px;
  left: 218px;
  transform: rotate(51deg);
}

/* front rim */
.front-rim-1 {
  position: absolute;
  width: 104px;
  height: 0px;
  border-bottom: 99px solid var(--bicycle-rim-color);
  border-right: 33px solid transparent;
  border-left: 36px solid transparent;
  top: 181px;
  left: 40px;
  transform: rotate(21deg);
}
.front-rim-2 {
  position: absolute;
  width: 0px;
  height: 0px;
  border-bottom: 138px solid var(--bicycle-rim-color);
  border-right: 106px solid transparent;
  top: 206px;
  left: 57px;
  transform: rotate(-32deg);
}
.front-tyre-border-top-right {
  position: absolute;
  background-color: var(--bicycle-tyre-color);
  height: 4px;
  width: 104px;
  top: 182px;
  left: 94px;
  transform: rotate(21deg);
}
.front-tyre-border-right {
  position: absolute;
  background-color: var(--bicycle-tyre-color);
  height: 4px;
  width: 106px;
  top: 252px;
  left: 139px;
  transform: rotate(92deg);
}
.front-tyre-border-bottom {
  position: absolute;
  background-color: var(--bicycle-tyre-color);
  height: 4px;
  width: 105px;
  top: 332px;
  left: 93px;
  transform: rotate(-32deg);
}
.front-tyre-border-left {
  position: absolute;
  background-color: var(--bicycle-tyre-color);
  height: 4px;
  width: 140px;
  top: 301px;
  left: -4px;
  transform: rotate(58deg);
}
.front-tyre-border-top-left {
  position: absolute;
  background-color: var(--bicycle-tyre-color);
  height: 4px;
  width: 108px;
  top: 203px;
  left: 10px;
  transform: rotate(-49deg);
}

/* bicycle frame */
.fork {
  position: absolute;
  background-color: var(--bicycle-frame-color);
  height: 4px;
  width: 166px;
  top: 162px;
  left: 41px;
  transform: rotate(-86deg);
}
.handlebar-right {
  position: absolute;
  background-color: var(--bicycle-frame-color);
  height: 4px;
  width: 76px;
  top: 59px;
  left: 62px;
  transform: rotate(34deg);
}
.handlebar-left {
  position: absolute;
  background-color: var(--bicycle-frame-color);
  height: 4px;
  width: 80px;
  top: 53px;
  left: 119px;
  transform: rotate(-42deg);
}
.top-tube {
  position: absolute;
  background-color: var(--bicycle-frame-color);
  height: 4px;
  width: 157px;
  top: 99px;
  left: 127px;
  transform: rotate(-4deg);
}
.down-tube {
  position: absolute;
  background-color: var(--bicycle-frame-color);
  height: 4px;
  width: 121px;
  top: 149px;
  left: 110px;
  transform: rotate(47deg);
}
.seat-tube {
  position: absolute;
  background-color: var(--bicycle-frame-color);
  height: 4px;
  width: 114px;
  top: 130px;
  left: 209px;
  transform: rotate(-63deg);
}
.seat-stays-front {
  position: absolute;
  background-color: var(--bicycle-frame-color);
  height: 4px;
  width: 97px;
  top: 140px;
  left: 253px;
  transform: rotate(-111deg);
}
.seat-stays-back {
  position: absolute;
  background-color: var(--bicycle-frame-color);
  height: 4px;
  width: 41px;
  top: 118px;
  left: 267px;
  transform: rotate(-99deg);
}
.chain-stays {
  position: absolute;
  background-color: var(--bicycle-frame-color);
  height: 4px;
  width: 46px;
  top: 208px;
  left: 257px;
}

/* saddle */
.saddle {
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 40px solid var(--bicycle-frame-color);
  border-left: 60px solid transparent;
  top: 63px;
  left: 265px;
  transform: rotate(-23deg);
}

.front-hub {
  position: absolute;
  background-color: var(--bicycle-frame-color);
  height: 15px;
  width: 15px;
  top: 242px;
  left: 112px;
  transform: rotate(45deg);
}

.mirror-right {
  position: absolute;
  width: 0px;
  height: 0px;
  border-left: 40px solid var(--bicycle-frame-color);
  border-top: 16px solid transparent;
  border-bottom: 18px solid transparent;
  transform: rotate(20deg);
  left: 34px;
  top: 18px;
}
.mirror-left {
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 30px solid var(--bicycle-frame-color);
  border-left: 20px solid transparent;
  border-right: 21px solid transparent;
  left: 190px;
  top: 17px;
  transform: rotate(-27deg);
}
.sprocket-trapeze {
  position: absolute;
  width: 0px;
  height: 29px;
  border-left: 29px solid var(--bicycle-frame-color);
  border-bottom: 9px solid transparent;
  border-top: 8px solid transparent;
  top: 186px;
  left: 316px;
  transform: rotate(6deg);
}
.sprocket-triangle {
  position: absolute;
  width: 0px;
  height: 0px;
  border-right: 15px solid var(--bicycle-frame-color);
  border-bottom: 19px solid transparent;
  border-top: 28px solid transparent;
  top: 183px;
  left: 302px;
  transform: rotate(6deg);
}
.chainRing-trapeze-left {
  position: absolute;
  width: 0px;
  height: 34px;
  border-right: 31px solid var(--bicycle-frame-color);
  border-bottom: 14px solid transparent;
  border-top: 16px solid transparent;
  top: 175px;
  left: 205px;
  transform: rotate(2deg);
}
.chainRing-trapeze-right {
  position: absolute;
  width: 0px;
  height: 25px;
  border-left: 23px solid var(--bicycle-frame-color);
  border-bottom: 14px solid transparent;
  border-top: 25px solid transparent;
  top: 176px;
  left: 235px;
  transform: rotate(2deg);
}
.chain-top {
  position: absolute;
  background-color: var(--bicycle-frame-color);
  height: 2px;
  width: 83px;
  top: 181px;
  left: 236px;
  transform: rotate(7deg);
}
.chain-bottom {
  position: absolute;
  background-color: var(--bicycle-frame-color);
  height: 2px;
  width: 81px;
  top: 232px;
  left: 234px;
  transform: rotate(-6deg);
}

.wall-border {
  position: absolute;
  background-color: #168fd6;
  height: 2px;
  width: 219px;
  transform: rotate(-71deg);
  top: 101px;
  left: 356px;
}

.title {
  text-align: center;
}
